{
    "swagger": "2.0",
    "info": {
        "description": "Care Ville Backend (in GoLang)",
        "title": "Care Ville",
        "contact": {
            "name": "Chirag Sharma"
        },
        "license": {
            "name": "MIT"
        },
        "version": "0.0.1"
    },
    "host": "mmpn2atpcm.eu-west-1.awsapprunner.com",
    "basePath": "/",
    "paths": {
        "/provider/add-doctor-profession": {
            "post": {
                "description": "Add doctorProfession",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "services"
                ],
                "summary": "Add doctorProfession",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Authentication header",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "file",
                        "description": "doctorImage",
                        "name": "doctorImage",
                        "in": "formData"
                    },
                    {
                        "type": "file",
                        "description": "professionalCertificate",
                        "name": "professionalCertificate",
                        "in": "formData"
                    },
                    {
                        "type": "file",
                        "description": "professionalLicense",
                        "name": "professionalLicense",
                        "in": "formData"
                    },
                    {
                        "type": "file",
                        "description": "personalLicense",
                        "name": "personalLicense",
                        "in": "formData"
                    },
                    {
                        "type": "file",
                        "description": "personalNimc",
                        "name": "personalNimc",
                        "in": "formData"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/services.DoctorProfessionResDto"
                        }
                    }
                }
            }
        },
        "/provider/add-fitness-center": {
            "post": {
                "description": "Add fitnessCenter",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "services"
                ],
                "summary": "Add fitnessCenter",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Authentication header",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "file",
                        "description": "fitnessCenterImage",
                        "name": "fitnessCenterImage",
                        "in": "formData"
                    },
                    {
                        "type": "file",
                        "description": "certificate",
                        "name": "certificate",
                        "in": "formData"
                    },
                    {
                        "type": "file",
                        "description": "license",
                        "name": "license",
                        "in": "formData"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/services.FitnessCenterResDto"
                        }
                    }
                }
            }
        },
        "/provider/add-hospitalClinic": {
            "post": {
                "description": "Add HospitalClinic",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "services"
                ],
                "summary": "Add HospitalClinic",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Authentication header",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "file",
                        "description": "hospitalImage",
                        "name": "hopitalImage",
                        "in": "formData"
                    },
                    {
                        "type": "file",
                        "description": "certificate",
                        "name": "certificate",
                        "in": "formData"
                    },
                    {
                        "type": "file",
                        "description": "license",
                        "name": "license",
                        "in": "formData"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/services.HospitalClinicResDto"
                        }
                    }
                }
            }
        },
        "/provider/add-laboratory": {
            "post": {
                "description": "Add laboratory",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "services"
                ],
                "summary": "Add laboratory",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Authentication header",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "file",
                        "description": "laboratoryImage",
                        "name": "laboratoryImage",
                        "in": "formData"
                    },
                    {
                        "type": "file",
                        "description": "certificate",
                        "name": "certificate",
                        "in": "formData"
                    },
                    {
                        "type": "file",
                        "description": "license",
                        "name": "license",
                        "in": "formData"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/services.LaboratoryResDto"
                        }
                    }
                }
            }
        },
        "/provider/add-medicalLab-scientist": {
            "post": {
                "description": "Add MedicalLabScientist",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "services"
                ],
                "summary": "Add MedicalLabScientist",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Authentication header",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "file",
                        "description": "physiotherapistImage",
                        "name": "medicalLabScientistImage",
                        "in": "formData"
                    },
                    {
                        "type": "file",
                        "description": "professionalCertificate",
                        "name": "professionalCertificate",
                        "in": "formData"
                    },
                    {
                        "type": "file",
                        "description": "professionalLicense",
                        "name": "professionalLicense",
                        "in": "formData"
                    },
                    {
                        "type": "file",
                        "description": "personalLicense",
                        "name": "personalLicense",
                        "in": "formData"
                    },
                    {
                        "type": "file",
                        "description": "personalNimc",
                        "name": "personalNimc",
                        "in": "formData"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/services.MedicalLabScientistResDto"
                        }
                    }
                }
            }
        },
        "/provider/add-nurse": {
            "post": {
                "description": "Add nurse",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "services"
                ],
                "summary": "Add nurse",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Authentication header",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "file",
                        "description": "nurseImage",
                        "name": "nurseImage",
                        "in": "formData"
                    },
                    {
                        "type": "file",
                        "description": "professionalCertificate",
                        "name": "professionalCertificate",
                        "in": "formData"
                    },
                    {
                        "type": "file",
                        "description": "professionalLicense",
                        "name": "professionalLicense",
                        "in": "formData"
                    },
                    {
                        "type": "file",
                        "description": "personalLicense",
                        "name": "personalLicense",
                        "in": "formData"
                    },
                    {
                        "type": "file",
                        "description": "personalNimc",
                        "name": "personalNimc",
                        "in": "formData"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/services.NurseResDto"
                        }
                    }
                }
            }
        },
        "/provider/add-pharmacy": {
            "post": {
                "description": "Add pharmacy",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "services"
                ],
                "summary": "Add pharmacy",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Authentication header",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "file",
                        "description": "pharmacyImage",
                        "name": "pharmacyImage",
                        "in": "formData"
                    },
                    {
                        "type": "file",
                        "description": "certificate",
                        "name": "certificate",
                        "in": "formData"
                    },
                    {
                        "type": "file",
                        "description": "license",
                        "name": "license",
                        "in": "formData"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/services.PharmacyResDto"
                        }
                    }
                }
            }
        },
        "/provider/add-physiotherapist": {
            "post": {
                "description": "Add Physiotherapist",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "services"
                ],
                "summary": "Add Physiotherapist",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Authentication header",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "file",
                        "description": "physiotherapistImage",
                        "name": "physiotherapistImage",
                        "in": "formData"
                    },
                    {
                        "type": "file",
                        "description": "professionalCertificate",
                        "name": "professionalCertificate",
                        "in": "formData"
                    },
                    {
                        "type": "file",
                        "description": "professionalLicense",
                        "name": "professionalLicense",
                        "in": "formData"
                    },
                    {
                        "type": "file",
                        "description": "personalLicense",
                        "name": "personalLicense",
                        "in": "formData"
                    },
                    {
                        "type": "file",
                        "description": "personalNimc",
                        "name": "personalNimc",
                        "in": "formData"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/services.PhysiotherapistResDto"
                        }
                    }
                }
            }
        },
        "/provider/change-password/{id}": {
            "put": {
                "description": "change provider Password",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "provider authorization"
                ],
                "summary": "Change provider Password",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Authentication header",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "provider ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Change password of provider",
                        "name": "provider",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/providerAuth.ProviderChangePasswordReqDto"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/providerAuth.ProviderChangePasswordResDto"
                        }
                    }
                }
            }
        },
        "/provider/forgot-password": {
            "post": {
                "description": "Forgot Password",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "provider authorization"
                ],
                "summary": "Forgot Password",
                "parameters": [
                    {
                        "description": "forgot password for provider",
                        "name": "provider",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/providerAuth.ProviderForgotPasswordReqDto"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/providerAuth.ProviderPasswordResDto"
                        }
                    }
                }
            }
        },
        "/provider/get-provider-info/{id}": {
            "get": {
                "description": "Fetch provider By ID",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "provider authorization"
                ],
                "summary": "Fetch provider By ID",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Authentication header",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "provider ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/providerAuth.GetProviderResDto"
                        }
                    }
                }
            }
        },
        "/provider/login": {
            "post": {
                "description": "Login provider",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "provider authorization"
                ],
                "summary": "Login provider",
                "parameters": [
                    {
                        "description": "login provider",
                        "name": "provider",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/providerAuth.LoginProviderReqDto"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/providerAuth.LoginProviderResDto"
                        }
                    }
                }
            }
        },
        "/provider/reset-password": {
            "put": {
                "description": "Reset provider password after OTP verification using the new password and confirm password",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "provider authorization"
                ],
                "summary": "Reset provider Password after OTP Verification",
                "parameters": [
                    {
                        "description": "Reset provider password after OTP verification",
                        "name": "provider",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/providerAuth.ResetPasswordAfterOtpReqDto"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/providerAuth.ProviderPasswordResDto"
                        }
                    }
                }
            }
        },
        "/provider/signup": {
            "post": {
                "description": "Signup provider",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "provider authorization"
                ],
                "summary": "Signup provider",
                "parameters": [
                    {
                        "description": "send 6 digit otp to email for signup",
                        "name": "signup",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/providerAuth.ProviderSignupReqDto"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/providerAuth.ProviderResponseDto"
                        }
                    }
                }
            }
        },
        "/provider/update-provider-data/{id}": {
            "put": {
                "description": "Update provider",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "provider authorization"
                ],
                "summary": "Update provider",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Authentication header",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "provider ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "additionalDetails",
                        "in": "formData"
                    },
                    {
                        "type": "string",
                        "name": "address",
                        "in": "formData"
                    },
                    {
                        "type": "string",
                        "name": "dialCode",
                        "in": "formData"
                    },
                    {
                        "type": "string",
                        "name": "name",
                        "in": "formData"
                    },
                    {
                        "type": "string",
                        "name": "oldProfileImage",
                        "in": "formData"
                    },
                    {
                        "type": "string",
                        "name": "phoneNumber",
                        "in": "formData"
                    },
                    {
                        "type": "file",
                        "description": "provider profile image",
                        "name": "newProviderImage",
                        "in": "formData"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/providerAuth.UpdateProviderResDto"
                        }
                    }
                }
            }
        },
        "/provider/verify-otp": {
            "post": {
                "description": "Verify the entered 6 digit OTP",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "provider authorization"
                ],
                "summary": "Verify provider OTP",
                "parameters": [
                    {
                        "description": "Verify 6 digit OTP",
                        "name": "provider",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/providerAuth.VerifyOtpReqDto"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/providerAuth.ProviderPasswordResDto"
                        }
                    }
                }
            }
        },
        "/provider/verify-otp-for-signup": {
            "post": {
                "description": "Verify the entered 6 digit OTP",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "provider authorization"
                ],
                "summary": "Verify OTP for signup",
                "parameters": [
                    {
                        "description": "Verify 6 digit OTP and insert data into database",
                        "name": "provider",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/providerAuth.ProviderSignupVerifyOtpReqDto"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/providerAuth.ProviderSignupVerifyOtpResDto"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "providerAuth.GetProviderResDto": {
            "type": "object",
            "properties": {
                "data": {
                    "$ref": "#/definitions/providerAuth.ProviderData"
                },
                "message": {
                    "type": "string"
                },
                "status": {
                    "type": "boolean"
                }
            }
        },
        "providerAuth.LoginProviderReqDto": {
            "type": "object",
            "properties": {
                "email": {
                    "type": "string"
                },
                "password": {
                    "type": "string"
                }
            }
        },
        "providerAuth.LoginProviderResDto": {
            "type": "object",
            "properties": {
                "data": {
                    "$ref": "#/definitions/providerAuth.ProviderRespDto"
                },
                "message": {
                    "type": "string"
                },
                "status": {
                    "type": "boolean"
                },
                "token": {
                    "type": "string"
                }
            }
        },
        "providerAuth.PhoneNumber": {
            "type": "object",
            "properties": {
                "dialCode": {
                    "type": "string"
                },
                "number": {
                    "type": "string"
                }
            }
        },
        "providerAuth.ProviderChangePasswordReqDto": {
            "type": "object",
            "properties": {
                "confirmPassword": {
                    "type": "string"
                },
                "currentPassword": {
                    "type": "string"
                },
                "newPassword": {
                    "type": "string"
                }
            }
        },
        "providerAuth.ProviderChangePasswordResDto": {
            "type": "object",
            "properties": {
                "message": {
                    "type": "string"
                },
                "status": {
                    "type": "boolean"
                }
            }
        },
        "providerAuth.ProviderData": {
            "type": "object",
            "properties": {
                "additionalDetails": {
                    "type": "string"
                },
                "address": {
                    "type": "string"
                },
                "createdAt": {
                    "type": "string"
                },
                "email": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "image": {
                    "type": "string"
                },
                "isEmergencyAvailable": {
                    "type": "boolean"
                },
                "name": {
                    "type": "string"
                },
                "notification": {
                    "type": "boolean"
                },
                "phoneNumber": {
                    "$ref": "#/definitions/providerAuth.PhoneNumber"
                },
                "updatedAt": {
                    "type": "string"
                }
            }
        },
        "providerAuth.ProviderForgotPasswordReqDto": {
            "type": "object",
            "properties": {
                "email": {
                    "type": "string"
                }
            }
        },
        "providerAuth.ProviderPasswordResDto": {
            "type": "object",
            "properties": {
                "message": {
                    "type": "string"
                },
                "status": {
                    "type": "boolean"
                }
            }
        },
        "providerAuth.ProviderResDto": {
            "type": "object",
            "properties": {
                "createdAt": {
                    "type": "string"
                },
                "email": {
                    "type": "string"
                },
                "facilityOrProfession": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "image": {
                    "type": "string"
                },
                "isApproved": {
                    "type": "boolean"
                },
                "isEmergencyAvailable": {
                    "type": "boolean"
                },
                "name": {
                    "type": "string"
                },
                "notification": {
                    "type": "boolean"
                },
                "phoneNumber": {
                    "$ref": "#/definitions/providerAuth.PhoneNumber"
                },
                "role": {
                    "type": "string"
                },
                "updatedAt": {
                    "type": "string"
                }
            }
        },
        "providerAuth.ProviderRespDto": {
            "type": "object",
            "properties": {
                "role": {
                    "$ref": "#/definitions/providerAuth.Role"
                },
                "user": {
                    "$ref": "#/definitions/providerAuth.User"
                }
            }
        },
        "providerAuth.ProviderResponseDto": {
            "type": "object",
            "properties": {
                "message": {
                    "type": "string"
                },
                "status": {
                    "type": "boolean"
                }
            }
        },
        "providerAuth.ProviderSignupReqDto": {
            "type": "object",
            "properties": {
                "dialCode": {
                    "type": "string"
                },
                "email": {
                    "type": "string"
                },
                "phoneNumber": {
                    "type": "string"
                }
            }
        },
        "providerAuth.ProviderSignupVerifyOtpReqDto": {
            "type": "object",
            "properties": {
                "dialCode": {
                    "type": "string"
                },
                "email": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "otp": {
                    "type": "string"
                },
                "password": {
                    "type": "string"
                },
                "phoneNumber": {
                    "type": "string"
                }
            }
        },
        "providerAuth.ProviderSignupVerifyOtpResDto": {
            "type": "object",
            "properties": {
                "data": {
                    "$ref": "#/definitions/providerAuth.ProviderResDto"
                },
                "message": {
                    "type": "string"
                },
                "status": {
                    "type": "boolean"
                },
                "token": {
                    "type": "string"
                }
            }
        },
        "providerAuth.ResetPasswordAfterOtpReqDto": {
            "type": "object",
            "properties": {
                "confirmPassword": {
                    "type": "string"
                },
                "email": {
                    "type": "string"
                },
                "newPassword": {
                    "type": "string"
                }
            }
        },
        "providerAuth.Role": {
            "type": "object",
            "properties": {
                "facilityOrProfession": {
                    "type": "string"
                },
                "isApproved": {
                    "type": "boolean"
                },
                "providerId": {
                    "type": "string"
                },
                "role": {
                    "type": "string"
                }
            }
        },
        "providerAuth.UpdateProviderResDto": {
            "type": "object",
            "properties": {
                "message": {
                    "type": "string"
                },
                "status": {
                    "type": "boolean"
                }
            }
        },
        "providerAuth.User": {
            "type": "object",
            "properties": {
                "createdAt": {
                    "type": "string"
                },
                "email": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "image": {
                    "type": "string"
                },
                "isEmergencyAvailable": {
                    "type": "boolean"
                },
                "name": {
                    "type": "string"
                },
                "notification": {
                    "type": "boolean"
                },
                "phoneNumber": {
                    "$ref": "#/definitions/providerAuth.PhoneNumber"
                },
                "updatedAt": {
                    "type": "string"
                }
            }
        },
        "providerAuth.VerifyOtpReqDto": {
            "type": "object",
            "properties": {
                "email": {
                    "type": "string"
                },
                "otp": {
                    "type": "string"
                }
            }
        },
        "services.AdditionalServices": {
            "type": "object",
            "properties": {
                "information": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                }
            }
        },
        "services.Doctor": {
            "type": "object",
            "properties": {
                "name": {
                    "type": "string"
                },
                "schedule": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/services.Schedule"
                    }
                },
                "speciality": {
                    "type": "string"
                }
            }
        },
        "services.DoctorProfessionReqDto": {
            "type": "object",
            "properties": {
                "additionalText": {
                    "type": "string"
                },
                "address": {
                    "type": "string"
                },
                "certificate": {
                    "type": "string"
                },
                "facilityOrProfession": {
                    "type": "string"
                },
                "informationName": {
                    "type": "string"
                },
                "latitude": {
                    "type": "string"
                },
                "longitude": {
                    "type": "string"
                },
                "providerId": {
                    "type": "string"
                },
                "qualifications": {
                    "type": "string"
                },
                "role": {
                    "type": "string"
                },
                "schedule": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/services.DoctorSchedule"
                    }
                },
                "speciality": {
                    "type": "string"
                }
            }
        },
        "services.DoctorProfessionResDto": {
            "type": "object",
            "properties": {
                "message": {
                    "type": "string"
                },
                "status": {
                    "type": "boolean"
                }
            }
        },
        "services.DoctorSchedule": {
            "type": "object",
            "properties": {
                "consultationFees": {
                    "type": "string"
                },
                "slots": {
                    "$ref": "#/definitions/services.Slots"
                }
            }
        },
        "services.FitnessCenterReqDto": {
            "type": "object",
            "properties": {
                "additionalServices": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/services.AdditionalServices"
                    }
                },
                "additionalText": {
                    "type": "string"
                },
                "address": {
                    "type": "string"
                },
                "facilityOrProfession": {
                    "type": "string"
                },
                "informationName": {
                    "type": "string"
                },
                "latitude": {
                    "type": "string"
                },
                "longitude": {
                    "type": "string"
                },
                "providerId": {
                    "type": "string"
                },
                "role": {
                    "type": "string"
                },
                "subscription": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/services.Subscription"
                    }
                },
                "trainers": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/services.Trainers"
                    }
                }
            }
        },
        "services.FitnessCenterResDto": {
            "type": "object",
            "properties": {
                "message": {
                    "type": "string"
                },
                "status": {
                    "type": "boolean"
                }
            }
        },
        "services.HospitalClinicReqDto": {
            "type": "object",
            "properties": {
                "additionalText": {
                    "type": "string"
                },
                "address": {
                    "type": "string"
                },
                "doctor": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/services.Doctor"
                    }
                },
                "facilityOrProfession": {
                    "type": "string"
                },
                "informationName": {
                    "type": "string"
                },
                "insurances": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "latitude": {
                    "type": "string"
                },
                "longitude": {
                    "type": "string"
                },
                "otherServices": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "providerId": {
                    "type": "string"
                },
                "role": {
                    "type": "string"
                }
            }
        },
        "services.HospitalClinicResDto": {
            "type": "object",
            "properties": {
                "message": {
                    "type": "string"
                },
                "status": {
                    "type": "boolean"
                }
            }
        },
        "services.Investigations": {
            "type": "object",
            "properties": {
                "information": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "price": {
                    "type": "number"
                },
                "type": {
                    "type": "string"
                }
            }
        },
        "services.LaboratoryReqDto": {
            "type": "object",
            "properties": {
                "additionalText": {
                    "type": "string"
                },
                "address": {
                    "type": "string"
                },
                "facilityOrProfession": {
                    "type": "string"
                },
                "informationName": {
                    "type": "string"
                },
                "investigations": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/services.Investigations"
                    }
                },
                "latitude": {
                    "type": "string"
                },
                "longitude": {
                    "type": "string"
                },
                "providerId": {
                    "type": "string"
                },
                "role": {
                    "type": "string"
                }
            }
        },
        "services.LaboratoryResDto": {
            "type": "object",
            "properties": {
                "message": {
                    "type": "string"
                },
                "status": {
                    "type": "boolean"
                }
            }
        },
        "services.MedicalLabScientistReqDto": {
            "type": "object",
            "properties": {
                "additionalText": {
                    "type": "string"
                },
                "address": {
                    "type": "string"
                },
                "department": {
                    "type": "string"
                },
                "document": {
                    "type": "string"
                },
                "facilityOrProfession": {
                    "type": "string"
                },
                "informationName": {
                    "type": "string"
                },
                "latitude": {
                    "type": "string"
                },
                "longitude": {
                    "type": "string"
                },
                "providerId": {
                    "type": "string"
                },
                "role": {
                    "type": "string"
                },
                "schedule": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/services.PhysiotherapistSchedule"
                    }
                }
            }
        },
        "services.MedicalLabScientistResDto": {
            "type": "object",
            "properties": {
                "message": {
                    "type": "string"
                },
                "status": {
                    "type": "boolean"
                }
            }
        },
        "services.NurseReqDto": {
            "type": "object",
            "properties": {
                "additionalText": {
                    "type": "string"
                },
                "address": {
                    "type": "string"
                },
                "facilityOrProfession": {
                    "type": "string"
                },
                "informationName": {
                    "type": "string"
                },
                "latitude": {
                    "type": "string"
                },
                "longitude": {
                    "type": "string"
                },
                "providerId": {
                    "type": "string"
                },
                "qualifications": {
                    "type": "string"
                },
                "role": {
                    "type": "string"
                },
                "schedule": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/services.NurseSchedule"
                    }
                }
            }
        },
        "services.NurseResDto": {
            "type": "object",
            "properties": {
                "message": {
                    "type": "string"
                },
                "status": {
                    "type": "boolean"
                }
            }
        },
        "services.NurseSchedule": {
            "type": "object",
            "properties": {
                "name": {
                    "type": "string"
                },
                "serviceFees": {
                    "type": "string"
                },
                "slots": {
                    "$ref": "#/definitions/services.Slots"
                }
            }
        },
        "services.PharmacyReqDto": {
            "type": "object",
            "properties": {
                "additionalServices": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/services.AdditionalServices"
                    }
                },
                "additionalText": {
                    "type": "string"
                },
                "address": {
                    "type": "string"
                },
                "facilityOrProfession": {
                    "type": "string"
                },
                "informationName": {
                    "type": "string"
                },
                "latitude": {
                    "type": "string"
                },
                "longitude": {
                    "type": "string"
                },
                "providerId": {
                    "type": "string"
                },
                "role": {
                    "type": "string"
                }
            }
        },
        "services.PharmacyResDto": {
            "type": "object",
            "properties": {
                "message": {
                    "type": "string"
                },
                "status": {
                    "type": "boolean"
                }
            }
        },
        "services.PhysiotherapistReqDto": {
            "type": "object",
            "properties": {
                "additionalText": {
                    "type": "string"
                },
                "address": {
                    "type": "string"
                },
                "facilityOrProfession": {
                    "type": "string"
                },
                "informationName": {
                    "type": "string"
                },
                "latitude": {
                    "type": "string"
                },
                "longitude": {
                    "type": "string"
                },
                "providerId": {
                    "type": "string"
                },
                "qualifications": {
                    "type": "string"
                },
                "role": {
                    "type": "string"
                },
                "schedule": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/services.PhysiotherapistSchedule"
                    }
                }
            }
        },
        "services.PhysiotherapistResDto": {
            "type": "object",
            "properties": {
                "message": {
                    "type": "string"
                },
                "status": {
                    "type": "boolean"
                }
            }
        },
        "services.PhysiotherapistSchedule": {
            "type": "object",
            "properties": {
                "name": {
                    "type": "string"
                },
                "serviceFees": {
                    "type": "string"
                },
                "slots": {
                    "$ref": "#/definitions/services.Slots"
                }
            }
        },
        "services.Schedule": {
            "type": "object",
            "properties": {
                "days": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "endTime": {
                    "type": "string"
                },
                "startTime": {
                    "type": "string"
                }
            }
        },
        "services.Slots": {
            "type": "object",
            "properties": {
                "days": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "endTime": {
                    "type": "string"
                },
                "startTime": {
                    "type": "string"
                }
            }
        },
        "services.Subscription": {
            "type": "object",
            "properties": {
                "details": {
                    "type": "string"
                },
                "price": {
                    "type": "number"
                },
                "type": {
                    "type": "string"
                }
            }
        },
        "services.Trainers": {
            "type": "object",
            "properties": {
                "category": {
                    "type": "string"
                },
                "information": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "price": {
                    "type": "number"
                }
            }
        }
    }
}