{
    "swagger": "2.0",
    "info": {
        "description": "Care Ville Backend (in GoLang)",
        "title": "Care Ville",
        "contact": {
            "name": "Chirag Sharma"
        },
        "license": {
            "name": "MIT"
        },
        "version": "0.0.1"
    },
    "host": "mmpn2atpcm.eu-west-1.awsapprunner.com",
    "basePath": "/",
    "paths": {
        "/provider/change-password/{id}": {
            "put": {
                "description": "change provider Password",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "provider authorization"
                ],
                "summary": "Change provider Password",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Authentication header",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "provider ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Change password of provider",
                        "name": "provider",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/providerAuth.ProviderChangePasswordReqDto"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/providerAuth.ProviderChangePasswordResDto"
                        }
                    }
                }
            }
        },
        "/provider/forgot-password": {
            "post": {
                "description": "Forgot Password",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "provider authorization"
                ],
                "summary": "Forgot Password",
                "parameters": [
                    {
                        "description": "forgot password for provider",
                        "name": "provider",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/providerAuth.ProviderForgotPasswordReqDto"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/providerAuth.ProviderPasswordResDto"
                        }
                    }
                }
            }
        },
        "/provider/get-provider-info/{id}": {
            "get": {
                "description": "Fetch provider By ID",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "provider authorization"
                ],
                "summary": "Fetch provider By ID",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Authentication header",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "provider ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/providerAuth.GetProviderResDto"
                        }
                    }
                }
            }
        },
        "/provider/login": {
            "post": {
                "description": "Login provider",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "provider authorization"
                ],
                "summary": "Login provider",
                "parameters": [
                    {
                        "description": "login provider",
                        "name": "provider",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/providerAuth.LoginProviderReqDto"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/providerAuth.LoginProviderResDto"
                        }
                    }
                }
            }
        },
        "/provider/reset-password": {
            "put": {
                "description": "Reset provider password after OTP verification using the new password and confirm password",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "provider authorization"
                ],
                "summary": "Reset provider Password after OTP Verification",
                "parameters": [
                    {
                        "description": "Reset provider password after OTP verification",
                        "name": "provider",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/providerAuth.ResetPasswordAfterOtpReqDto"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/providerAuth.ProviderPasswordResDto"
                        }
                    }
                }
            }
        },
        "/provider/signup": {
            "post": {
                "description": "Signup provider",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "provider authorization"
                ],
                "summary": "Signup provider",
                "parameters": [
                    {
                        "description": "send 6 digit otp to email for signup",
                        "name": "signup",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/providerAuth.ProviderSignupReqDto"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/providerAuth.ProviderResponseDto"
                        }
                    }
                }
            }
        },
        "/provider/update-provider-data/{id}": {
            "put": {
                "description": "Update provider",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "provider authorization"
                ],
                "summary": "Update provider",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Authentication header",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "provider ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "name": "additionalDetails",
                        "in": "formData"
                    },
                    {
                        "type": "string",
                        "name": "address",
                        "in": "formData"
                    },
                    {
                        "type": "string",
                        "name": "dialCode",
                        "in": "formData"
                    },
                    {
                        "type": "string",
                        "name": "name",
                        "in": "formData"
                    },
                    {
                        "type": "string",
                        "name": "oldProfileImage",
                        "in": "formData"
                    },
                    {
                        "type": "string",
                        "name": "phoneNumber",
                        "in": "formData"
                    },
                    {
                        "type": "file",
                        "description": "provider profile image",
                        "name": "newProviderImage",
                        "in": "formData"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/providerAuth.UpdateProviderResDto"
                        }
                    }
                }
            }
        },
        "/provider/verify-otp": {
            "post": {
                "description": "Verify the entered 6 digit OTP",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "provider authorization"
                ],
                "summary": "Verify provider OTP",
                "parameters": [
                    {
                        "description": "Verify 6 digit OTP",
                        "name": "provider",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/providerAuth.VerifyOtpReqDto"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/providerAuth.ProviderPasswordResDto"
                        }
                    }
                }
            }
        },
        "/provider/verify-otp-for-signup": {
            "post": {
                "description": "Verify the entered 6 digit OTP",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "provider authorization"
                ],
                "summary": "Verify OTP for signup",
                "parameters": [
                    {
                        "description": "Verify 6 digit OTP and insert data into database",
                        "name": "provider",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/providerAuth.ProviderSignupVerifyOtpReqDto"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/providerAuth.ProviderSignupVerifyOtpResDto"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "providerAuth.GetProviderResDto": {
            "type": "object",
            "properties": {
                "data": {
                    "$ref": "#/definitions/providerAuth.ProviderData"
                },
                "message": {
                    "type": "string"
                },
                "status": {
                    "type": "boolean"
                }
            }
        },
        "providerAuth.LoginProviderReqDto": {
            "type": "object",
            "properties": {
                "email": {
                    "type": "string"
                },
                "password": {
                    "type": "string"
                }
            }
        },
        "providerAuth.LoginProviderResDto": {
            "type": "object",
            "properties": {
                "data": {
                    "$ref": "#/definitions/providerAuth.ProviderResDto"
                },
                "message": {
                    "type": "string"
                },
                "status": {
                    "type": "boolean"
                },
                "token": {
                    "type": "string"
                }
            }
        },
        "providerAuth.PhoneNumber": {
            "type": "object",
            "properties": {
                "dialCode": {
                    "type": "string"
                },
                "number": {
                    "type": "string"
                }
            }
        },
        "providerAuth.ProviderChangePasswordReqDto": {
            "type": "object",
            "properties": {
                "confirmPassword": {
                    "type": "string"
                },
                "currentPassword": {
                    "type": "string"
                },
                "newPassword": {
                    "type": "string"
                }
            }
        },
        "providerAuth.ProviderChangePasswordResDto": {
            "type": "object",
            "properties": {
                "message": {
                    "type": "string"
                },
                "status": {
                    "type": "boolean"
                }
            }
        },
        "providerAuth.ProviderData": {
            "type": "object",
            "properties": {
                "additionalDetails": {
                    "type": "string"
                },
                "address": {
                    "type": "string"
                },
                "createdAt": {
                    "type": "string"
                },
                "email": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "image": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "notification": {
                    "type": "boolean"
                },
                "phoneNumber": {
                    "$ref": "#/definitions/providerAuth.PhoneNumber"
                },
                "updatedAt": {
                    "type": "string"
                }
            }
        },
        "providerAuth.ProviderForgotPasswordReqDto": {
            "type": "object",
            "properties": {
                "email": {
                    "type": "string"
                }
            }
        },
        "providerAuth.ProviderPasswordResDto": {
            "type": "object",
            "properties": {
                "message": {
                    "type": "string"
                },
                "status": {
                    "type": "boolean"
                }
            }
        },
        "providerAuth.ProviderResDto": {
            "type": "object",
            "properties": {
                "createdAt": {
                    "type": "string"
                },
                "email": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "image": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "phoneNumber": {
                    "$ref": "#/definitions/providerAuth.PhoneNumber"
                },
                "updatedAt": {
                    "type": "string"
                }
            }
        },
        "providerAuth.ProviderResponseDto": {
            "type": "object",
            "properties": {
                "message": {
                    "type": "string"
                },
                "status": {
                    "type": "boolean"
                }
            }
        },
        "providerAuth.ProviderSignupReqDto": {
            "type": "object",
            "properties": {
                "dialCode": {
                    "type": "string"
                },
                "email": {
                    "type": "string"
                },
                "phoneNumber": {
                    "type": "string"
                }
            }
        },
        "providerAuth.ProviderSignupVerifyOtpReqDto": {
            "type": "object",
            "properties": {
                "dialCode": {
                    "type": "string"
                },
                "email": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "otp": {
                    "type": "string"
                },
                "password": {
                    "type": "string"
                },
                "phoneNumber": {
                    "type": "string"
                }
            }
        },
        "providerAuth.ProviderSignupVerifyOtpResDto": {
            "type": "object",
            "properties": {
                "data": {
                    "$ref": "#/definitions/providerAuth.ProviderResDto"
                },
                "message": {
                    "type": "string"
                },
                "status": {
                    "type": "boolean"
                },
                "token": {
                    "type": "string"
                }
            }
        },
        "providerAuth.ResetPasswordAfterOtpReqDto": {
            "type": "object",
            "properties": {
                "confirmPassword": {
                    "type": "string"
                },
                "email": {
                    "type": "string"
                },
                "newPassword": {
                    "type": "string"
                }
            }
        },
        "providerAuth.UpdateProviderResDto": {
            "type": "object",
            "properties": {
                "message": {
                    "type": "string"
                },
                "status": {
                    "type": "boolean"
                }
            }
        },
        "providerAuth.VerifyOtpReqDto": {
            "type": "object",
            "properties": {
                "email": {
                    "type": "string"
                },
                "otp": {
                    "type": "string"
                }
            }
        }
    }
}